h1 {
  text-align: center;
}

.btns {
  text-align: center;
  padding: 20px;
}

.tree-view {
  position: relative;
  left: 10px;
}

.tree-node {
  position: relative;
  margin-left: 250px;
}
.tree-node:before {
  content: "";
  width: 50px;
  border-top: 2px solid #272343;
  position: absolute;
  left: -100px;
  top: 50%;
}

.entry {
  position: relative;
  min-height: 60px;
}
.entry:before {
  content: "";
  height: 100%;
  border-left: 2px solid #272343;
  position: absolute;
  left: -50px;
}
.entry:after {
  content: "";
  width: 50px;
  border-top: 2px solid #272343;
  position: absolute;
  left: -50px;
  top: 50%;
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 0 0 0 0;
}
.entry:first-child:after {
  height: 10px;
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid #272343;
  margin-top: -10px;
}

.entry:only-child:before {
  display: none;
}

.label {
  display: block;
  min-width: 150px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #272343;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
